.icon-graph.comp { background-image: url('png/graph.comp.png'); background-repeat: no-repeat; }

.icon-login.comp { background-image: url('png/login.comp.png'); background-repeat: no-repeat; }

.icon-poopy.comp { background-image: url('png/poopy.comp.png'); background-repeat: no-repeat; }

.icon-register.comp { background-image: url('png/register.comp.png'); background-repeat: no-repeat; }

